DJANGO_SETTINGS_MODULE=config.settings.dev
SECRET_KEY=changeme
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
# En dev, si DATABASE_URL queda vacía se usa SQLite (db.sqlite3) como fallback.
# En prod: la URL de Neon (postgres://...).
DATABASE_URL=
TIME_ZONE=America/Argentina/Cordoba
LANGUAGE_CODE=es-ar
